html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #0d1328;
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15vh;
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
  
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

.information img {
  position: relative;  
  bottom: -8px;       
  left: 60%;          
  transform: translateX(-50%);
  width: 90px;
  height: auto;
  z-index: 10;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin-top:10vh;

}


@media only screen and (max-width: 550px) {
  .main-page {
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
  }

  .information img {
    width: 70px;
  }

  html {
    overflow-y: auto;
  }
}
