html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #0d1328;
}

.main-page {
    margin: 13vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
  
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

.information img {
  position: relative;
  width: 80px; /* Example: Reduced from 50px to 35px */
  height: auto; /* Keep 'auto' to maintain aspect ratio */
  top: 0.85vh; /* You might need to adjust 'top' after resizing */
  z-index: 10;
  left: 150px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


@media only screen and (max-width: 550px) {
  .main-page {
    margin-top: 0vh;
    margin-left: 0;
    margin-right: 0;
  }

  .information img {
    width: 70px;
  }
}
