.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #linkedin {
    color: #DCEAB2
  }
  
  #linkedin:hover {
    color:#ffffff;
  }
  
  #github {
    color:#efb9ec;
  }
  #github:hover {
    color:#ffffff;
  }
  
  #email {
    color:#50D8D7;
  }
  #email:hover {
    color:#ffffff;
  }

  i {
    font-size: 5rem;
  }