
.backArrow3 a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.bloc-card a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#roundedblog {
  width: 80%;          /* Match blog-posts width */
  max-width: 1200px;   /* Match blog-posts max-width */
  margin-left: auto;   /* Center the hr */
  margin-right: auto;  /* Center the hr */

  /* Style the visual appearance of the HR */
  border: none;               /* Remove default browser border */
  border-top: 2px solid #efb9ec; /* Use a color that fits your theme */
  height: 0;     
}

.white-cat {
  display: block;
  width: max-content;
  width: 70px;    /* --- Adjust this width to make it smaller/larger --- */
  height: auto;   /* Maintain aspect ratio */
  margin-top: -38px; /* Space above the cat (adjust as needed) */
  margin-bottom: -50px; /* Space between cat and the hr (adjust as needed) */
  margin-left: 40vw; 
}



.blog-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
}

.backArrow3 #back {
  font-size: 2.3rem;
}

.backArrow3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 0.5rem; 
  margin-top: 1rem;
  text-align: left;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  color: white;
}

.blog-card {
  border: 1px solid #1c2345;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-shadow: 0 4px 15px rgba(239, 185, 236, 0.05);
  overflow: hidden;
}

.blog-card:hover {
  box-shadow: 0 8px 18px rgba(239, 185, 236, 0.1);
  transform: translateY(-19px);
}



.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.blog-card h1 {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  margin: 0;
  color: white;
}

.blog-card a {
  color: inherit; 
  text-decoration: none !important; 
  -webkit-tap-highlight-color: transparent; 

}


@media screen and (max-width: 550px) {
  .blog-page {
    padding-top: 1rem;
  }

  .blog-posts {
     width: 90%;
     gap: 1rem; 
  }

  .backArrow3 {
    width: 90%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem; 
  }

  .blog-page hr {
    width: 90%; /* Match blog-posts width on smaller screens */
  }
}
